@import "../Variables.scss";

$url: "../../images/showcase2.jpg";
$height: 100%;
.movies {
  @include showcaseWrap($url, $height);

  min-height: 100vh;

  @media only screen and (max-width: 576px) {
    height: 100%;
  }
  @media only screen and (max-width: 767px) {
    height: 100%;
  }

  img:hover {
    cursor: pointer !important;
  }
}
